DESAFIO 22/05

In [12]:
#Patinhos
for patinhos in [5,4,3,2,1]:
     
 if patinhos == 1:
    print( patinhos,"patinho foi passear além das montanhas para brincar a mamãe gritou: Quá, Quá, Quá, Quá, mas nenhum patinho voltou de lá")
 else:
     print( patinhos,"patinhos foram passear além das montanhas para brincar a mamãe gritou: Quá, Quá, Quá, Quá, mas só", patinhos-1,"voltaram de lá")

5 patinhos foram passear além das montanhas para brincar a mamãe gritou: Quá, Quá, Quá, Quá, mas só 4 voltaram de lá
4 patinhos foram passear além das montanhas para brincar a mamãe gritou: Quá, Quá, Quá, Quá, mas só 3 voltaram de lá
3 patinhos foram passear além das montanhas para brincar a mamãe gritou: Quá, Quá, Quá, Quá, mas só 2 voltaram de lá
2 patinhos foram passear além das montanhas para brincar a mamãe gritou: Quá, Quá, Quá, Quá, mas só 1 voltaram de lá
1 patinho foi passear além das montanhas para brincar a mamãe gritou: Quá, Quá, Quá, Quá, mas nenhum patinho voltou de lá

In [30]:
#Elefantes
for elefantes in [1,2,3,4,5,6,7,8,9,10]:
  incomodam = "incomodam "
  if elefantes % 2 == 0:
    print(elefantes,"elefantes ", elefantes * incomodam,"muito mais")
  elif elefantes == 1:
    print(elefantes,"elefante incomoda muita gente")
  else:
   print(elefantes,"elefantes incomodam muita gente")

1 elefante incomoda muita gente
2 elefantes  incomodam incomodam  muito mais
3 elefantes incomodam muita gente
4 elefantes  incomodam incomodam incomodam incomodam  muito mais
5 elefantes incomodam muita gente
6 elefantes  incomodam incomodam incomodam incomodam incomodam incomodam  muito mais
7 elefantes incomodam muita gente
8 elefantes  incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam  muito mais
9 elefantes incomodam muita gente
10 elefantes  incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam  muito mais

In [44]:
#Elefantes(invertido)
for elefantes in [10,9,8,7,6,5,4,3,2,1]:
    incomodam = "incomodam "
    if elefantes == 1:
     print(elefantes,"elefante", elefantes * incomodam,"muito menos")

    elif elefantes % 2 != 0:
     print(elefantes,"elefantes", elefantes * incomodam,"muito menos")
    

    else:
     print(elefantes,"elefantes incomodam muita gente")

10 elefantes incomodam muita gente
9 elefantes incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam incomodam  muito menos
8 elefantes incomodam muita gente
7 elefantes incomodam incomodam incomodam incomodam incomodam incomodam incomodam  muito menos
6 elefantes incomodam muita gente
5 elefantes incomodam incomodam incomodam incomodam incomodam  muito menos
4 elefantes incomodam muita gente
3 elefantes incomodam incomodam incomodam  muito menos
2 elefantes incomodam muita gente
1 elefante incomoda  muito menos

In [8]:

#Mariana
mariana = [1,2,3,4,5,6,7,8,9,10]
numero = 1
for numero in mariana:
 if numero == 1:
      print("Mariana conta",numero,"Mariana conta",numero,"é",numero,"é",numero,"é Ana viva Mariana viva Mariana")
 else:
  print("Mariana conta",numero,"Mariana conta",numero,"é",mariana[0:numero],"é Ana viva Mariana viva Mariana")

Mariana conta 1 Mariana conta 1 é 1 é 1 é Ana viva Mariana viva Mariana
Mariana conta 2 Mariana conta 2 é [1, 2] é Ana viva Mariana viva Mariana
Mariana conta 3 Mariana conta 3 é [1, 2, 3] é Ana viva Mariana viva Mariana
Mariana conta 4 Mariana conta 4 é [1, 2, 3, 4] é Ana viva Mariana viva Mariana
Mariana conta 5 Mariana conta 5 é [1, 2, 3, 4, 5] é Ana viva Mariana viva Mariana
Mariana conta 6 Mariana conta 6 é [1, 2, 3, 4, 5, 6] é Ana viva Mariana viva Mariana
Mariana conta 7 Mariana conta 7 é [1, 2, 3, 4, 5, 6, 7] é Ana viva Mariana viva Mariana
Mariana conta 8 Mariana conta 8 é [1, 2, 3, 4, 5, 6, 7, 8] é Ana viva Mariana viva Mariana
Mariana conta 9 Mariana conta 9 é [1, 2, 3, 4, 5, 6, 7, 8, 9] é Ana viva Mariana viva Mariana
Mariana conta 10 Mariana conta 10 é [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] é Ana viva Mariana viva Mariana