ESTRUTURA DE DADOS(LISTAS)

In [ ]:
l=[] #lista vazia
l= list()#construtor de listas(outro objeto e quero transformar em uma lista)

In [8]:
dias = [3, 1, 10]#criação de lista com três elementos
dias[0]#a contagem começa do 0

3

In [6]:
dias[1]#elemento da posição 1

1

In [7]:
dias[2]#elemento da posição 2

10

In [9]:
#Modificando a lista

Z = [3, 8 ,9] #lista com 3 elementos
Z[0] = 7 # A posição 0 recebe o número 7
Z #7

[7, 8, 9]

In [10]:
V = [6,7,5,8,9]
L = V #criou uma outra lista L que recebe V, L é uma nova forma de acessar a lista V(os dois apontam  para o mesmo lugar da memória, o conteudo é igual e o objeto também)
print( V==L)#Comparação entre os valores
print(V is L)#V é l? 
V[0] = 5 #Alterou a posição 0 da lista V e L, pois se altera o V a lista l tambem altera
print(V)
print(L)

True
True
[5, 7, 5, 8, 9]
[5, 7, 5, 8, 9]

In [11]:
a = [81, 82, 83] #criação da lista
b = a[:] #Possuem o mesmo conteudo,mas não estao no mesmo lugar da memoria( sao dois objetos diferentes)
print( a == b) #comparação entre a e b
print( a is b ) #a é b?
b[0] = 5 #alterou a posição 0 da lista b 
print(a)
print(b)

True
False
[81, 82, 83]
[5, 82, 83]

In [13]:
#Fatiamento de listas
#até(:) começa do 0 e para no anterior
#inclui o primeiro e exclui o ultimo

uma_lista =['a', 'b', 'c', 'd', 'e' ,'f']
print(uma_lista[1:3])# do primeiro até o terceiro, ele excluiu a terceiro elemento
print(uma_lista[:4])# da posição zero até quarto elemento,ele excluiu o quarto elemento
print(uma_lista[3:])# do terceiro elemento até o ultimo
print(uma_lista[:])# copiou toda a lista

['b', 'c']
['a', 'b', 'c', 'd']
['d', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

In [17]:
a = [1,2,3]
b = a[:]
b[0] = 5
print(a[2])

3

1 DESAFIO!!

In [28]:
#A
minha_lista = [76, 92.3, "oi", True, 4, 76]
minha_lista[5:] = "pitomba", 76
print(minha_lista[:])

[76, 92.3, 'oi', True, 4, 'pitomba', 76]

In [32]:
#Correção
minha_lista = [76, 92.3, "oi", True, 4, 76]
nova_lista = ["pitomba", 76]
print(minha_lista + nova_lista)

[76, 92.3, 'oi', True, 4, 76, 'pitomba', 76]

In [59]:
#B


minha_lista[3:] = "Cibele", True
nova_lista = [ 4 ,76]

print(minha_lista + nova_lista)
minha_lista = [76, 92.3, "oi", True, 4, 76]

[76, 92.3, 'oi', 'Cibele', True, 4, 76]

In [70]:
#CORREÇÂO
nova_lista = [76, 92.3, "oi", True, 4, 76]
print(nova_lista[:3] + ["Cibele"] + nova_lista[3:]) #DE 0 ATE 3, OU SEJA, ATE O SEGUNDO INDICE, ADICIONA 'CIBELE' E E CONCATENA COM UMA NOVA LISTA QUE VAI DO INDICE 3 ATE O ULTIMO

[76, 92.3, 'oi', 'Cibele', True, 4, 76]

In [78]:
#C

minha_lista = [76, 92.3, "oi", True, 4, 76]
nova_lista[0] = 99
print(nova_lista[:1] + [76] + nova_lista[1:])

[99, 76, 92.3, 'oi', True, 4, 76]

In [82]:
#D
minha_lista = [76, 92.3, "oi", True, 4, 76]

if( minha_lista[0] == "oi"):
    print("o indice procurado é o zero")

elif( minha_lista[1] == "oi"):
      print("o indice procurado é o primeiro")

elif( minha_lista[2] == "oi"):
      print("o indice procurado é o segundo")

elif( minha_lista[3] == "oi"):
      print("o indice procurado é o terceiro")

elif( minha_lista[4] == "oi"):
      print("o indice procurado é o quatro")

elif( minha_lista[5] == "oi"):
      print("o indice procurado é o quinto")

o indice procurado é o segundo

In [97]:
#E

minha_lista = [76, 92.3, "oi", True, 4, 76]
nova_lista = [4, 76]
print(minha_lista[:3] + nova_lista)

[76, 92.3, 'oi', 4, 76]

In [98]:
#DE OUTRA FORMA
minha_lista = [76, 92.3, "oi", True, 4, 76]
print(minha_lista[:3] + minha_lista[4:])

[76, 92.3, 'oi', 4, 76]

In [99]:
uma_lista = [4, 2, 8, 6, 5]
uma_lista = uma_lista + ["Cibele"]
print(uma_lista)

[4, 2, 8, 6, 5, 'Cibele']

Tuplas

In [1]:
tupla_numeros = (10, 20, 30)
tupla_numeros

(10, 20, 30)

In [2]:
tupla_numeros = 10, 20, 30
tupla_numeros

(10, 20, 30)

In [3]:
tupla_elemento = 10,
tupla_elemento

(10,)

In [4]:
tupla_vazia = []
tupla_vazia

[]

In [5]:
#Função Tuple

nova_tupla = tuple("teste")
nova_tupla

('t', 'e', 's', 't', 'e')

Métodos|Tuplas

In [9]:
tupla_nomes = ("Marlene", "Zezinho", "Marelene", "Cibele", "Zuely")
print(tupla_nomes.count("Marlene"))#contar quantas vezes essa palavras aparece
print(tupla_nomes.count("Suely"))
print(tupla_nomes.count("Zezinho"))
tupla_elementos=(1,2,2,3,4,4,4,5)
print(tupla_elementos.count(4))

1
0
1
3